main {
  padding: 10px 0;
}

#head {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #28544b;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.ui-accordion-content {
  overflow: auto;
}
