

/* Basic */
* {
  outline: none;
}

a {
  text-decoration-line: none;
  outline: none;
  color: #28544b;
}

#row > div > p {
  font-size: 18px;
  font-weight: 500;
}

body,
textarea,
select {
  font-family: "Source Sans Pro";
  font-weight: 300;
  color: #28544b;
  font-size: 14pt;
  line-height: 1.75em;
  margin: 0;
  padding: 0;
}

#sandle {
  cursor: pointer;
}
/* Header */

#header {
  position: relative;
  background: #ffffff;
  padding: 2em 0 3em 0;
  text-align: center;
  min-height: 83px;
  max-height: 83px;
}

#header h1 {
  color: #28544b;
  font-weight: 900;
  font-size: 2em;
  min-height: 33px;
  max-height: 33px;
}

.login,
.logout,
.sign-up,
.default_logo {
  display: none;
}

#login,
#logout,
#default_logo,
#sign-up {
  float: right;
  margin-right: 30px;
  font-weight: 700;
  font-size: 20px;
}

#login,
#logout,
#sign-up {
  margin-top: 13px;
}

#default_logo {
  float: right;
  width: 480px;
}

#email {
  margin-left: 10px;
  margin-top: 13px;
  position: absolute;
}

/* Nav */

#nav {
  text-align: center;
  margin-bottom: 7%;
}

#nav > ul {
  margin: 0;
  background-color: #28544b;
  min-height: 20px;
}

#nav > ul > li {
  display: inline-block;
  margin: 6px 3em 5px 0em;
}

#nav > ul > li > ul {
  display: none;
}

#nav > ul > li > a {
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 0.2em 0.6em 0.2em 0.6em;
  outline: 0;
}

#nav > ul > li:hover > a,
#nav > ul > li.active > a {
  background: #fff;
  color: #28544b !important;
  font-weight: 700;
}

#nav > ul > li.current > a {
  background: #fff;
  color: #28544b !important;
  font-weight: 700;
}

#navPanel {
  display: none;
}

.dropotron {
  border-radius: 5px;
  background-color: #fff;
  background-color: fff(34, 30, 31, 0.98);
  padding: 1.2em 0.5em 1em 1em;
  color: #28544b !important;
  font-weight: 1000;
  min-width: 12em;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.5);
  text-align: left;
  margin-top: -1.25em;
  margin-left: -1px;
  list-style: none;
}

.dropotron a,
.dropotron span {
  color: #28544b !important;
  font-weight: 400;
  text-decoration: none;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.dropotron li {
  padding: 1em 0 0.25em 0;
}

.dropotron li:hover > a,
.dropotron li:hover > span {
  color: #28544b !important;
  font-weight: 700;
}

.dropotron.level-0 {
  margin-top: 2em;
}

.dropotron.level-0:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -9px;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 10px #28544b;
  border-bottom-color: #28544b;
}

/* Banner */

#banner {
  background: #fff url("./assets/images/main_image.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  position: relative;
  min-height: 400px;
  margin-top: 100px;
}



/* footer */

#footer {
  background-color: #000000ee;
  min-height: 300px;
}

#footer-title {
  font-size: 30px;
  display: block;
  margin-left: 10%;
  font-weight: 700;
  max-height: 70px;
}

#footer-title > p {
  position: absolute;
}

#creater-name-email {
  position: absolute;
  margin-left: 25%;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
}

#creater-github {
  position: absolute;
  right: 5%;
  margin-top: 180px;
}

#git {
  background-image: url("./assets/images/git.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 50px;
  min-width: 50px;
  min-height: 50px;
  margin: 0 5px 0 5px;
  opacity: 0.9;
}

/* -----------------------------------------photofeed-area----------------------------- */
.container {
  justify-content: center;
  align-content: center;
  display: grid;
  margin-left: 80px;
  margin-top: 150px;
  grid-template-columns: 380px 380px;
  grid-template-rows: auto auto;
}

.item {
  border: 1px solid black;
  height: 380px;
  width: 320px;
  /* margin: auto; */
  border-radius: 20px;
  position: relative;
  margin-bottom: 10%;
}

.photo-a {
  border: 1px solid black;
  height: 350px;
  width: 285px;
  margin: auto;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.image-container {
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* 이미지의 세로비율에 맞게 설정 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}




/* -----------------------------------------Modal area----------------------------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 850px;
  height: 600px;
  padding: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 6px 6px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 30px;
}

#session1 {
  height: 5%;
  text-align: right;
}
#session2 {
  height: 95%;
  display: flex;
}

.session2-s {
  /* border: 1px solid black; */
  height: 100%;
}

#session2-1 {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

#session2-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

#session2-3 {
  width: 350px;
  padding-left: 30px;
}

#session2-4 {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center
}

#x-circle {
  margin-right: 5px;
  margin-top: 2px;
  cursor: pointer;
}

#photo {
  /* border: 1px solid black; */
  height: 520px;
  width: 400px;
  border-radius: 30px;
  margin-bottom: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#modal-content-creater {
  /* border: 1px solid black; */
  height: 160px;
  margin-bottom: 10px;
}

#comment {
  /* border: 1px solid black; */
  height: 300px;
  max-height: 300px;
  overflow: auto;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 10px;
}
#comment::-webkit-scrollbar {
  display: none;
}


#user-info {
  display: flex;
  height: 50px;
}

#user-info-image{
  width: 80px;
}

#user-info-content {
  display: flex;
  align-items: center;
  width: 170px;
  text-align: left;
  font-size: 15px;
  color: black;
  padding-top: 5px;
}

#title{
  height: 50px;
  text-align: right;
  padding-right: 30px;
  margin-bottom: 10px;
  color: black;
  font-size: 10px;
  font-weight: bold;
}

#content{
  height: 50px;
  text-align: left;
  padding-top: -2px;
  padding-left: 80px;
  padding-right:3px;
  color: black;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

#tag{
  color: black;
  font-size: 13px;
  height: 28px;
  text-align: left;
  padding-left: 80px;
  font-weight: 600;
  margin-bottom: 7px;
}

#modal-content-insert {
  text-align: left;
}


#comment-insert {
  width: 330px;
  height: 30px;
  border-radius: 30px;
  padding-left: 20px;
}

#modal-user-image {
  height: 50px;
  width: 50px;
  margin-left: 40px;
  margin-top: 30px;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#comment > div{
  text-align: left;
  padding-left: 5px;
  color: black;
  font-size: 15px;
}

  
#cmt-nickname {
  font-weight: bold;
  padding-left: 10px;
}

#cmt-image{
  width: 30px;
  height: 30px;
}

.cmt-x-logo{
  width: 10px;
  height: 10px;
  padding-left: 20px;
  cursor: pointer;
}

#cmt-content {
  padding-left: 50px;
}