/* container */

area {
  cursor: pointer;
}

#main-container {
  text-align: center;
}

#back {
  display: flex;
  background-color: #28544b;
  width: 120px;
  height: 35px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  margin-left: 100px;
  margin-bottom: 20px;
}

#tabs-back {
  background-color: #28544b;
  float: right;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 1px;
}

#back:hover,
#tabs-back:hover {
  box-shadow: 1px 1px 1px 1px gray;
}

#container {
  display: inline-block;
  text-align: center;
  width: 1150px;
  height: 700px;
  padding-top: 30px;
}

.ui-state-active {
  background-color: #28544b !important;
  border: none !important;
}

/* map */
#map,
#seoul-map,
#incheon-map,
#daejeon-map,
#daegu-map,
#gwangju-map,
#ulsan-map,
#busan-map,
#gyeonggi-map,
#gangwon-map,
#chungbuk-map,
#chungnam-map,
#jeonbuk-map,
#jeonnam-map,
#gyeongbuk-map,
#gyeongnam-map,
#jeju-map,
#sejong-map {
  margin-top: 20px;
}

/* tab */

#tabs {
  background-color: #ffffff;
  min-width: 430px;
  min-height: 623px;
  max-width: 430px;
  max-height: 623px;
  float: right;
  border: none;
}

#height_list,
#height_list_seoul,
#height_list_incheon,
#height_list_daejeon,
#height_list_daegu,
#height_list_gwangju,
#height_list_ulsan,
#height_list_busan,
#height_list_gyeonggi,
#height_list_gangwon,
#height_list_chungbuk,
#height_list_chungnam,
#height_list_jeonbuk,
#height_list_jeonnam,
#height_list_gyeongbuk,
#height_list_gyeongnam,
#height_list_jeju,
#height_list_sejong {
  width: 370px;
  text-align: center;
  display: none;
}

#height_list_seoul > button,
#height_list_incheon > button,
#height_list_daejeon > button,
#height_list_daegu > button,
#height_list_gwangju > button,
#height_list_ulsan > button,
#height_list_busan > button,
#height_list_gyeonggi > button,
#height_list_gangwon > button,
#height_list_chungbuk > button,
#height_list_chungnam > button,
#height_list_jeonbuk > button,
#height_list_jeonnam > button,
#height_list_gyeongbuk > button,
#height_list_gyeongnam > button,
#height_list_jeju > button,
#height_list_sejong > button {
  width: 100px;
}

div > button {
  background-color: #398b62;
  border: none;
  display: inline-block;
  width: 130px;
  height: 45px;
  margin: 0 10px 10px 10px;
  border-radius: 20px;
  padding-top: 5px;
  cursor: pointer;
  color: white;
  font-weight: 700;
}

/* mountain info */

#main-mountain_info {
  text-align: center;
}

#mountain_detail_title {
  display: inline-block;
  text-align: left;
  border-top: 1px #28544b solid;
  border-bottom: 1px #28544b solid;
  padding-bottom: 10px;
  min-width: 1300px;
  max-width: 1300px;
  max-height: 60px;
}

#mountain_detail_title > h2 {
  margin-left: 20px;
}

#mountain_detail_list > input {
  background-color: white;
  text-align: center;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #28544b;
  margin-top: 10px;
  margin-bottom: 10px;
}

#m-no,
#m-no-acco {
  width: 80px;
}

#c-no,
#c-no-acco {
  width: 90px;
}

#courseName,
#courseName-acco {
  width: 350px;
}

#courseName-acco {
  margin-left: 10px;
}

#m-name,
#m-name-acco {
  width: 100px;
}

#address,
#address-acco {
  width: 280px;
}

#height,
#height-acco {
  width: 80px;
}

#height-acco {
  margin-left: 5px;
}

#level,
#level-acco {
  width: 80px;
}

#mountain_info_map {
  cursor: pointer;
}

#detail > input {
  font-size: 18px;
  color: #28544b;
  background-color: inherit;
  cursor: pointer;
}

#detail-content > a {
  text-align: left;
  font-size: 18px;
  color: #28544b;
}

#detail-content > a:hover {
  font-weight: 700;
  text-decoration-line: underline;
}

.ui-state-active > input {
  color: #fff !important; /* 폰트 컬러를 흰색으로 변경 */
  cursor: pointer;
}

#detail {
  text-align: left;
}

#mountain_detail_info {
  text-align: center;
}

#accordion-form {
  text-align: center;
  margin-bottom: 30px;
}

.accordion {
  font-size: 20px;
  display: inline-block;
  height: auto;
  min-width: 1200px;
  max-width: 1200px;
}

.accordion-item > input {
  text-align: center;
  width: 150px;
  border: none;
}

.page {
  text-align: center;

  margin-bottom: 50px;
}

#page-no {
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  width: 40px;
  border: none;
  background-color: white;
  color: #28544b;
}

#page-no:hover {
  font-weight: 700;
  text-decoration-line: underline;
}

#next-page {
  cursor: pointer;
  font-size: 20px;
  width: 70px;
  border: none;
  margin-left: 10px;
  background-color: white;
  color: #28544b;
  font-weight: 700;
}
