form {
  padding: 20px;
  width: 600px;
  margin-inline: auto;
  margin-bottom: 20px;
  text-align: center;
}
input {
  width: 100%;
  border: 1px solid #28544b;
  padding: 5px 10px;
  height: 45px;
  margin: 0px 0px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
  outline: none;
}

button {
  margin: 10px auto 30px;
  width: 100%;
  display: table;
  font-size: 20px;
  padding: 10px 30px;
  background-color: #28544b;
  border: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: 1px #28544b solid;
  box-shadow: 2px 2px 2px 2px #000000;
}

.Remember {
  float: left;
}

button:hover {
  opacity: 0.8;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  accent-color: #28544b;
}

.Social button.facebook-btn {
  background-color: #3f68be;
}
.Social button.naver-btn {
  background-color: #03c75a;
}

#google-login > ol {
  width: 93%;
  height: 30px;
  font-size: 18px;
  background-color: #26abfd;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 10px;
  margin-bottom: 5px;
}

#kakao-login > ol {
  width: 93%;
  height: 30px;
  font-size: 18px;
  background-color: #fee500;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 10px;
  margin-bottom: 10px;
}

#kakao-logout > ol {
  width: 93%;
  height: 30px;
  font-size: 18px;
  background-color: #fee500;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px black;
}

.Social {
  border-top: 1px solid #ddd;
  padding-top: 30px;
  margin-top: 30px;
}
.Social button i {
  margin-right: 5px;
  font-size: 20px;
}
/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}
@media (max-width: 400px) {
  form {
    width: 100%;
    margin-left: 0px;
  }
}

#logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
