form {
  padding: 20px;
  width: 600px;
  margin-inline: auto;
  margin-bottom: 20px;
  text-align: center;
}
input {
  width: 80%;
  border: 1px solid #28544b;
  padding: 5px 10px;
  height: 45px;
  margin: 0px 0px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
  outline: none;
}

button {
  margin: 10px auto 30px;
  width: 80%;
  display: table;
  font-size: 20px;
  padding: 10px 30px;
  background-color: #28544b;
  border: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: 1px #28544b solid;
  box-shadow: 2px 2px 2px 2px #000000;
}

.Remember {
  float: left;
  margin-left: 60px;
}

button:hover {
  opacity: 0.8;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  accent-color: #28544b;
}

#logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
