#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.festival {
  width: 850px !important;
  text-align: left;
  margin-bottom: 40px;
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  border-top: none;
}

.festival > a {
  font-weight: bold;
  font-size: 20px;
}

.festival > p {
  color: black;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

#next-button {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  width: 55px;
  height: 55px;
}

#next-button img {
  width: 40px;
  height: 40px;
}

hr {
  width: 100%;
}

.festi-title {
  /* border: solid 1px red; */
  width: 880px; /* 원하는 크기로 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  padding: 10px; /* 내부 여백 설정 */
  padding-top: 50px;
  box-sizing: border-box; /* padding 값이 전체 크기에 포함되도록 설정 */
}

.festi-title h1 {
  margin: 0;
}

.festi-title span {
  font-size: 16px;
}

.festi-title {
  justify-content: space-between;
  align-items: center;
}

.keyword {
  font-size: 32px;
}

.keyword span {
  font-size: 16px;
}

.keyword span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.festi-title > span::before {
  content: "*";
  color: red;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#search-input {
  width: 800px;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#search-button {
  padding: 10px;
  font-size: 16px;
  background-color: #28544b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
